entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "gunicorn main:app --bind 0.0.0.0:5000"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
